*.cscope_file_list
*.depend
*.layout

*.opensdf
*.psess
*.vsp
*.sdf
*.suo

*.pyc

*.ppm

resources/bochs-2.6.7/
resources/bochs-2.6.7-msvc-src/
resources/nircmd/

cross/
VMs/

**/.build/
**/log/