*.cscope_file_list
*.depend
*.layout

*.db
*.ipgset
*.opendb
*.opensdf
*.psess
*.sdf
*.suo
*.vsp

*.pyc

*.ppm

*.7z
*.bz2
*.gz
*.xz
*.zip

resources/docs/
resources/nircmd/

cross/*/
VMs/*
!VMs/*.md

**/.build/
**/log/
_log*
